.images img {
  width: 419px; 
  height: 249px;
  border-color: rgb(80, 80, 80);
  border-radius: 10px;
}  
.images h2{
    color: rgb(46, 45, 45);
}
.images h2:hover{
    cursor: pointer;
    color: rgba(6, 77, 105, 0.11);
}
.images1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    margin-left: 10px;
}